/*==================== Bulma ====================*/
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";

/*==================== BASE ====================*/

body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;;
}

/*==================== NAV ====================*/

nav {
  background-color: #121212;
  color: white;
  padding: 20px 50px;
}

.navSuperior {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navLogo {
  display: flex;
  align-items: center;
}

.buscador {
  display: flex;
  align-items: center;
  background-color: #c4c5c6;
  padding: 15px 20px;
  border-radius: 10px;
  margin-right: 50px;
}

.logoRetrokir {
height: 80px;
width: 80px;
}

#logoTexto{
  font-family: "VT323", monospace;
  font-weight: 400;
  font-size: 32px;
  margin: 0;
}

.buscadorTexto {
  border: none;
  background-color: transparent;
}

.buscadorTexto::placeholder {
  color: white;
}

.ofertaLimitada{
  font-size: 20px;
  border-bottom: 2px solid #bd140a;
  cursor: pointer;
}

.navInferior{
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuObjeto{
  margin-right: 50px;
  cursor: pointer;
  color:#c4c5c6;
  font-weight: 400;
}

/*==================== Slider ====================*/

.slider {
  background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
}

.sliderContainer {
  display: flex;
  width: 500vw;
  transition: all 1.5s ease-in-out;
}

.sliderObject {
  width: 100vw;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sliderTitulo {
  margin-right: 10px;
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  color:white;
}

.sliderPrecio {
  position: absolute;
  top: 50%;
  right: 10%;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  color:white;
  border: 1px solid gray
}

.botonCompra {
  margin-right: 65px;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 600;
  width: 250px;
  height: 60px;
}