/*==================== Bulma ====================*/
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";

/*==================== BASE ====================*/
html {
  scroll-behavior: smooth;
  background-color: white;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

/*==================== NAV ====================*/

nav {
  background-color: #121212;
  color: white;
  padding: 20px 50px;
}

.navSuperior {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navLogo {
  display: flex;
  align-items: center;
}

.buscador {
  display: flex;
  align-items: center;
  background-color: #c4c5c6;
  padding: 15px 20px;
  border-radius: 10px;
  margin-right: 50px;
}

.logoRetrokir {
height: 80px;
width: 80px;
}

#logoTexto{
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 32px;
  margin: 0;
}

.buscadorTexto {
  border: none;
  background-color: transparent;
}

.buscadorTexto::placeholder {
  color: white;
}

.ofertaLimitada{
  font-size: 20px;
  border-bottom: 2px solid #bd140a;
  cursor: pointer;
}

.navInferior{
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuObjeto{
  margin-right: 50px;
  cursor: pointer;
  color:#c4c5c6;
  font-weight: 400;
}

/*==================== Slider ====================*/

.slider {
  background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
}

.sliderContainer {
  display: flex;
  width: 500vw;
  transition: all 1.5s ease-in-out;
}

.sliderObject {
  width: 100vw;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sliderTitulo {
  margin-right: 10px;
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  color:white;
}

.botonCompra {
  position:absolute;
  top: -10%;
  margin-right: 65px;
  margin-bottom: 200px;
  font-size: 20px;
  font-weight: 600;
  width: 250px;
  height: 60px;
}

.sliderPrecio {
  position: absolute;
  top: 40%;
  right: 10%;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  color:white;
  border: 1px solid gray
}

.sliderImgEco {
  position: absolute;
  top: 50%;
  right: 10%;
  width: 200px;
  height: 100px;
  text-align: center;
}

.sliderEco {
  position: absolute;
  top: 60%;
  right: 10%;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  color:white;
  margin-right: -20px;
}

.sliderEco span {
  color: #6AAF2E;
  font-weight: 600;
}

.kirbiGreen {
  position: absolute;
  top: 70%;
  right: 10%;
  width: 200px;
  height: 200px;
  text-align: center;
  margin-right: -10px;
}

/*==================== Caracteristicas ====================*/

.caracteristicas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.caracteristica {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.caracteristicaIcono {
  width: 50px;
  height: 50px;
}

.caracteristicaTitulo {
  font-style: 20px;
  font-weight: 600;
  margin: 20px;
  color: black;
}

.caracteristicaDesc {
  color: gray;
  width: 50%;
  font-size: 14px;
}

/*==================== Producto ====================*/

.producto {
  background-color: whitesmoke;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}

.productoImg {
  width: 50%;
  height: auto;
  margin-top: 50px;
}

.productoDetalles {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 50px;
}

.productoTitulo {
  font-size: 75px;
  font-weight: 900;
}

.precioYBoton {
  display: flex;
  align-items: center;
}

.productoPrecio {
  font-size: 30px;
  color: #6AAF2E;
  
}

.botonProducto {
  display: flex;
  align-self: flex-end;
  padding: 10px 20px;
  margin: 10px ;
  background-color: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
  align-items: center;
}

.productoDesc {
  font-size: 16px;
  color: gray;
  padding: 20px;
}

.colores, .sizes{
  display: flex;
  margin-bottom: 20px;
}

.color {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background-color: #010E21;
  margin-right: 10px;
  cursor: pointer;
}

.color:last-child{
  background-color: #5C5C5C;
}

.size {
  padding: 5px 10px;
  border: 1px solid black;
  margin-right: 10px;
  font-size: 10px;
  cursor: pointer;
}

.botonProducto:hover{
  background-color: white;
  color: black;
}

/*==================== Pago ====================*/

.pago {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 50px;
  display: none;
  flex-direction: column;
  color: black;
  -webkit-box-shadow: 0px 0px 30px -3px rgba(0,0,0,0.8); 
  box-shadow: 0px 0px 30px -3px rgba(0,0,0,0.8);
}

.pagoTitulo {
  font-size: 20px;
  color: rgb(185, 185, 185);
}

label {
  font-size: 14px;
  font-weight: 300;
}

.pagoInput {
  padding: 10px;
  margin: 10px 0;
}

.tarjetaIconos {
  display: flex;
}

.tarjetaIcono {
  margin-right: 10px;
}

.tarjetaInfo {
  display: flex;
  justify-content: space-between;
}

.sm {
  width: 30%;
}

.botonComprar {
  position: absolute;
  height: 40px;
  bottom: -28px;
  width: 100%;
  left: 0;
  -webkit-box-shadow: 0px 0px 30px -3px rgba(0,0,0,0.8); 
  box-shadow: 0px 0px 30px -3px rgba(0,0,0,0.8);
  color: white;
  background-color: #369e60;
  border: none;
  cursor: pointer;
}

.botonComprar:hover {
  background-color: #5cbf85;
}

.cerrar {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: gray;
  color: white;
  text-align: center;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.cerrar:hover {
  background-color: #010E21;
}

.galeriaObjeto {
  display: flex;
  align-items: center;
  justify-content: center;
}

.galeriaTituloBloque {
  display: flex;
  align-items: center;
  justify-content: center;
}

.galeriaTitulo {
  display:inline-block;
  text-align: center;
  font-family: "VT323", monospace;
  font-size: 32px;
  color: black;
}

.fa-star {
  color: #FFCA00;
}